{% extends "base.html" %}
{% load static %}


{% block content %}
<section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <a href="{% url 'leads:leads_list' %}" class="btn btn-outline-secondary mb-5 flex-shrink-0"> Back to leads page</a>
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6">
                        {% if lead.profile_pic %}
                        <img src="{{ lead.profile_pic.url }}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="600" height="700" loading="lazy">
                        {% else %}
                        <img src="{% static 'images/lead_pic.jpg'%}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="600" height="700" loading="lazy">
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <div class="fw-bold fs-2 text-center mb-3 pb-3">Lead Details</div>
                        <div>
                            <div class="display-5 fs-4 fw-normal">
                                <span>Lead name: {{lead.first_name}} {{lead.last_name}}</span>
                            </div>
                            <div class="display-5 fs-6 fw-normal py-2">
                                <span>Age: {{lead.age}}</span>
                            </div>
                            <div class="display-5 fs-6 fw-normal py-2">
                                <span>phone number: {{lead.phone}} </span>
                            </div>
                            <div class="display-5 fs-6 fw-normal py-2">
                                <span>email: {{lead.email}} </span>
                            </div>
                            <div class="display-5 fs-6 fw-normal py-2">
                                <span>Date added: {{lead.date_added}} </span>
                            </div>
                        </div>
                        <p class="lead my-2 fs-6 fst-italic pb-3">{{ lead.description }}</p>
                        <div class="d-flex">
                          <a href="{% url 'leads:lead_update' lead.pk %}" class="btn btn-primary flex-shrink-0">
                              Update Lead
                          </a>
                            <a href="{% url 'leads:lead_delete' lead.pk %}" class="btn btn-outline-dark mx-3 flex-shrink-0">
                                Delete Lead
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock content %}
