{% extends "base.html" %}
{% load static %}


{% block content %}
<section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <a href="{% url 'leads:leads_list' %}" class="btn btn-outline-secondary mb-5 flex-shrink-0"> Back to leads page</a>
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6">
                        {% if lead.profile_pic %}
                        <img src="{{ lead.profile_pic.url }}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="600" height="700" loading="lazy">
                        {% else %}
                        <img src="{% static 'images/lead_pic.jpg'%}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="600" height="700" loading="lazy">
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <div class="fw-bold fs-2 text-center mb-3 pb-3">Lead Details</div>
                        <div>
                            <div class="display-5 fs-4 fw-normal">
                                <span>Lead name: {{lead.first_name}} {{lead.last_name}}</span>
                            </div>
                            <div class="display-5 fs-6 fw-normal py-2">
                                <span>Age: {{lead.age}}</span>
                            </div>
                            <div class="display-5 fs-6 fw-normal py-2">
                                <span>phone number: {{lead.phone}} </span>
                            </div>
                            <div class="display-5 fs-6 fw-normal py-2">
                                <span>email: {{lead.email}} </span>
                            </div>
                            <div class="display-5 fs-6 fw-normal py-2">
                                <span>Date added: {{lead.date_added}} </span>
                            </div>
                        </div>
                        <p class="lead my-2 fs-6 fst-italic pb-3">{{ lead.description }}</p>
                        <div class="d-flex">
                          <a href="{% url 'leads:lead_update' lead.pk %}" class="btn btn-primary flex-shrink-0">
                              Update Lead
                          </a>
                            <a href="{% url 'leads:lead_delete' lead.pk %}" class="btn btn-outline-dark mx-3 flex-shrink-0">
                                Delete Lead
                            </a>
                        </div>
                    </div>
                <hr class="mt-4"/>
                <div class="container px-4 py-5" id="hanging-icons">
                  <div class="d-flex justify-content-between list-inline my-3">
                    <h3 class="list-inline-item">Follow ups List </h3>
                    <a href="{% url 'leads:follow_up_create' lead.pk %}" class="btn btn-outline-primary list-inline-item">
                      Create Follow up
                    </a>
                  </div>
                {% if lead.followups %}
                <div class="container py-2">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                            <table class="table table-striped table-hover table-bordered table-responsive my-4">
                              <thead>
                                <tr>
                                  <th class="fw-normal text-uppercase" scope="col">Date Added</th>
                                  <th class="fw-normal text-uppercase" scope="col">Comment</th>
                                  <th class="fw-normal text-uppercase" scope="col">Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for followup in lead.followups.all %}
                                <tr>
                                  <th class="fw-normal" scope="row"> {{ followup.date_added }} </th>
                                  <td class="fw-normal" >{{ followup.comment }}</td>
                                  <td class="fw-normal">
                                  {% if followup.file %}
                                    <a href="{{ followup.file.url }}" download class="btn btn-primary">
                                      Download File
                                    </a>
                                  {% endif %}
                                    <a href="{% url 'leads:follow_up_update' followup.pk %}" class="btn btn-primary">
                                      Update
                                    </a>
                                    <a href="{% url 'leads:follow_up_delete' followup.pk %}" class="btn btn-primary">
                                      Delete
                                    </a>
                                  </td>
                                </tr>
                              {% endfor %}
                              </tbody>
                            </table>
                    </div>
                </div>
                {% endif %}
            </div>
        </section>
{% endblock content %}
