{% extends 'base.html' %}
{% load static%}

{% block content %}
<div class="container px-4 pt-5 pb-2 w-100">
  <div class="d-flex justify-content-center list-inline py-5">
    <h3 class="list-inline-item fst-italic">CRM-App Dashboard</h3>
  </div>
</div>
<div class="py-1">
    <div class="container">
      <div class="row hidden-md-up">
        <div class="col-md-4">
          <div class="card p-3">
            <div class="card-block">
              <h4 class="card-title text-center pb-1">Total Leads Added</h4>
              <h3 class="card-subtitle text-center w-bold pb-2">{{ total_num_leads }}</h3>
              <p class="card-text p-y-1 text-center">Total number of Leads added since the organization been made.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card p-3">
            <div class="card-block">
              <h4 class="card-title text-center pb-1">Leads Converted</h4>
              <h3 class="card-subtitle text-center w-bold pb-2">{{ leads_converted }}</h3>
              <p class="card-text p-y-1 text-center">Total number of Leads Converted in the last month.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card p-3">
            <div class="card-block">
              <h4 class="card-title text-center pb-1">Last month Leads</h4>
              <h3 class="card-subtitle text-center w-boldf pb-2">{{ last_month_leads }}</h3>
              <p class="card-text p-y-1 text-center">Total number of Leads added Last month.</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock content %}