<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
              <svg class="bi me-2" width="40" height="32" role="img" aria-label="App_Logo"><use xlink:href="https://www.flaticon.com/free-icon/crm_906341"></use></svg>
      </a>

      <ul class="nav col-12 col-md-auto justify-content-center mb-md-0 mt-2 mb-2">
        <li><a href="{% url 'landing_page' %}" class="nav-link px-2 link-secondary">Home</a></li>
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'leads:leads_list' %}" class="nav-link px-2 link-dark">Leads</a></li>
        {% if request.user.is_organizer %}
        <li><a href="{% url 'agents:agents_list' %}" class="nav-link px-2 link-dark">Agents</a></li>
        {% endif %}
        {% endif %}
        <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
      </ul>
      {% if request.user.is_authenticated %}
      <div class="col-md-3 text-end mt-3 mb-2 justify-content-center">
      Logged in as: <b>{{ request.user.username }}<b/>
      <a href="{% url 'logout'%}" class="btn btn-outline-secondary">Logout</a></button>
      </div>
      {% else %}
      <div class="col-md-3 text-end mt-3 mb-2 justify-content-center">
        <a href="{% url 'signup'%}" class="btn btn-outline-primary">Signup</a>
        <a href="{% url 'login'%}" class="btn btn-primary">Login</a>
      </div>
      {% endif %}
    </header>
  </div>
